$white: #fff;
$black: #000;
$red: #e3472f;
$dark-red: #d63820;
$gray: #dbdbdb;
$light-gray-2: #cdcdcd; 
$light-gray: #f0f0f0;
$dark-gray: #a2a2a2;
$dark-gray-2: #848484;
$light-blue: #00bbff;
$light-green: #00e2ad;
$dark-blue: #4271d6;
$orange: #f4973c;
$facebook-color: #3d599b;
$twitter-color: #00abee;