		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<a href="/">
							<figure class="logo-footer">
								<img src="img/logo.jpg" alt="" class="img-responsive">
							</figure>
						</a>
						<div class="company">
							<p class="company-name">
								<strong>The UX Library</strong>
							</p>
							<p class="company-text">Community curated design content & discussion</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="footer-text">
							<ul class="footer-links">
								<li class="item">
									<a href="#" class="social-media facebook">
										<i class="fa fa-facebook"></i> <strong>Facebook</strong>
									</a>
								</li>
								<li class="item">
									<a href="#" class="social-media twitter">
										<i class="fa fa-twitter"></i> <strong>Twitter</strong>
									</a>
								</li>
								<li class="item pointer">
									<a href="#" class="link">
										About
									</a>
								</li>
								<li class="item">
									<a href="#" class="link">
										Contact
									</a>
								</li>
								<li class="item">
									<a href="#" class="link">
										Sing in
									</a>
								</li>
							</ul>
							<p class="copyright-text">© 2014 - The UX Library</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>