<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="css/app.min.css" rel="stylesheet" type="text/css" >
		<link href="css/style.min.css" rel="stylesheet" type="text/css" >
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<title>Teste para a Leroy Merlin</title>
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
						<div class="box-logo">
							<a href="/">
								<img src="img/logo.jpg" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
						<button class="btn btn-light">
							<i class="fa fa-bars"></i>
						</button>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<form action="/search" class="form-search" method="post">
							<div class="form-group">
								<input type="search" name="search" class="form-control">
								<i class="fa fa-search"></i>
							</div>
						</form>
					</div>
					<div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
						<button class="btn-add-post">
							<i class="fa fa-plus"></i> Add Post
						</button>
					</div>
					<div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
						<figure class="gravatar">
							<img src="img/user-1.jpg" class="img-responsive photo" alt="">
							<span class="notification">5</span>
						</figure>
					</div>
				</div>
			</div>
		</header>