.post-row {
	margin-bottom: 40px;
}

.post-vote {
	border: 1px solid $light-gray;
	display: inline-block;
	width: 40px;
	vertical-align: top;
	@include my-border-radius(4px);

	.fa,
	.popularity {
		display: block;
		padding: 6px 10px;
		text-align: center;
		font-weight: 600;
	}

	.fa {
		color: $red;
		padding: 12px 10px;
	}

	.popularity {
		border-top: 1px solid $light-gray;
		font-size: 18px;
		padding: 6px 10px;
	}
}

.post-content {
	display: inline-block;
}

@media only screen and ( min-width: 767px ) {
	.post-article {
		margin-left: 20px;
	}
}

.post-site {
	color: $dark-gray;
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
}

.post-title {
	margin: 5px 0 10px 0;
	@media only screen and ( max-width: 767px ) {
		font-size: 20px;
	}
}

.post-details {
	margin: 0;
	padding: 0;

	.item {
		&.first {
			border-right: 1px solid $light-gray;
			padding: 0 15px 0 0;
		}
	}

	.post-category {
		color: $white;
		display: inline-block;
		font-size: 12px;
		padding: 6px 10px;
		@include my-border-radius(20px);

		&.design {
			background: $light-green;
		}

		&.ui-ux {
			background: $light-blue;
		}

		&.opinion {
			background: $dark-blue;
		}

		&.case-study {
			background: $orange;
		}
	}

	.photo-thumb {
		display: inline-block;
		margin-right: 6px;
		vertical-align: middle;

		.photo {
			@include my-border-radius(4px);
		}
	}

	.link,
	.comments {
		color: $red;
		font-weight: 600;
	}

	.link {
		border-bottom: 2px solid $red;		
	}

	.time {
		color: $dark-gray;
	}
}

.btn-load-more {
	background: $light-gray;
	border: 1px solid $light-gray;
	color: $red;
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
	padding: 15px 0;
	width: 100%;
	@include my-border-radius(4px);
}