html {
	min-height: 100%;
	position: relative;
}

body {
	@media only screen and ( max-width: 767px ) {
		margin-bottom: 10em;
	}

	@media only screen and ( min-width: 768px ) {
		margin-bottom: 6em;
	}
}

footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

a,
a:hover {
	text-decoration: none;
}

img.photo {
	@include my-border-radius(4px);
}

li.item {
	list-style: none;
	@media only screen and ( max-width: 767px ) {
		margin-bottom: 15px;
		padding-right: 15px;
	}
	@media only screen and ( min-width: 768px ) {
		display: inline-block;
		padding-left: 15px;
	}
	@media only screen and ( min-width: 768px ) {
		&.pointer {
			padding-left: 20px;
			position: relative;
			&:after {
				background: $dark-gray-2;
				content: "";
				height: 6px;
				position: absolute;
				left: 5px;
				top: 6px;
				width: 6px;
				@include my-border-radius(50%);
			}
		}
	}
}