.footer {
	margin: 20px 0;
}

.logo-footer {
	margin-right: 20px;
}

.logo-footer,
.company {
	display: inline-block;
	vertical-align: middle;
}

.company-name,
.footer-links {
	margin-bottom: 2px;
}

.company-text {
	color: $dark-gray;
}

.company-text,
.copyright-text {
	font-size: 12px;
	margin-bottom: 0;	
}

@media only screen and ( max-width: 767px ) {
	.footer-text {
		margin-top: 20px;
	}
}

@media only screen and ( min-width: 768px ) {
	.footer-text {
		text-align: right;
	}
}

.footer-links {
	padding: 0;

	.social-media {
		color: $black;
	
		&.facebook,
		&.twitter {
			.fa {
				color: $white;
				display: inline-block;
				font-size: 12px;
				height: 16px;
				line-height: 16px;
				text-align: center;
				width: 16px;
				@include my-border-radius(4px);				
			}
		}

		&.facebook {
			.fa {
				background: $facebook-color;
			}
		}

		&.twitter {
			.fa {
				background: $twitter-color;
			}
		}
	}

	.link {
		color: $red;
		font-weight: 600;		
	}
}

.copyright-text {
	color: $light-gray-2;
}