.header {
	border-bottom: 1px solid $light-gray;
	margin-bottom: 20px;
	padding: 20px 0;
}

.box-logo {
	border-right: 1px solid $light-gray;
}

.btn {
	&.btn-light {
		background: $white;
		border: 1px solid $gray;
		font-size: 20px;
		margin-top: 2px;
		outline: none;
	}
}

.form-search {
	position: relative;

	.form-group {
		margin-bottom: 0;
	}

	.form-control {
		background: $light-gray;
		border-color: $light-gray;
		box-shadow: none;
		margin-top: 2px;
		height: 42px;
		padding-left: 35px;
		@media only screen and ( min-width: 767px ) {
			width: 60%;
		}
	}

	.fa {
		color: $light-gray-2;
		left: 15px;
		position: absolute;
		top: 15px;
	}
}

.btn-add-post {
	background: $red;
	border: 1px solid $red;
	color: $white;
	font-weight: 500;
	margin-top: 2px;
	padding: 0 10px;
	@include my-border-radius(4px);

	.fa {
		border-right: 1px solid $dark-red;
		margin-right: 10px;
		padding: 13px 10px 13px 0;
	}
}

.gravatar {
	margin-top: 2px;
	position: relative;
	
	.notification {
		background: $red;
		color: $white;
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
		height: 18px;
		left: -8px;
		line-height: 18px;
		position: absolute;
		text-align: center;
		top: 10px;
		width: 18px;
		@include my-border-radius(4px);
	}
}