/* 1.0 - Default
 * 2.0 - Header
 * 3.0 - Body
 * 4.0 - Footer
*/
/* 1.0 - Default */
html {
  min-height: 100%;
  position: relative; }

@media only screen and (max-width: 767px) {
  body {
    margin-bottom: 10em; } }

@media only screen and (min-width: 768px) {
  body {
    margin-bottom: 6em; } }

footer {
  bottom: 0;
  position: absolute;
  width: 100%; }

a,
a:hover {
  text-decoration: none; }

img.photo {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px; }

li.item {
  list-style: none; }
  @media only screen and (max-width: 767px) {
    li.item {
      margin-bottom: 15px;
      padding-right: 15px; } }
  @media only screen and (min-width: 768px) {
    li.item {
      display: inline-block;
      padding-left: 15px; } }
  @media only screen and (min-width: 768px) {
    li.item.pointer {
      padding-left: 20px;
      position: relative; }
      li.item.pointer:after {
        background: #848484;
        content: "";
        height: 6px;
        position: absolute;
        left: 5px;
        top: 6px;
        width: 6px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%; } }

/* 2.0 - Header */
.header {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  padding: 20px 0; }

.box-logo {
  border-right: 1px solid #f0f0f0; }

.btn.btn-light {
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 20px;
  margin-top: 2px;
  outline: none; }

.form-search {
  position: relative; }
  .form-search .form-group {
    margin-bottom: 0; }
  .form-search .form-control {
    background: #f0f0f0;
    border-color: #f0f0f0;
    box-shadow: none;
    margin-top: 2px;
    height: 42px;
    padding-left: 35px; }
    @media only screen and (min-width: 767px) {
      .form-search .form-control {
        width: 60%; } }
  .form-search .fa {
    color: #cdcdcd;
    left: 15px;
    position: absolute;
    top: 15px; }

.btn-add-post {
  background: #e3472f;
  border: 1px solid #e3472f;
  color: #fff;
  font-weight: 500;
  margin-top: 2px;
  padding: 0 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px; }
  .btn-add-post .fa {
    border-right: 1px solid #d63820;
    margin-right: 10px;
    padding: 13px 10px 13px 0; }

.gravatar {
  margin-top: 2px;
  position: relative; }
  .gravatar .notification {
    background: #e3472f;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 18px;
    left: -8px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px; }

/* 3.0 - Body */
.post-row {
  margin-bottom: 40px; }

.post-vote {
  border: 1px solid #f0f0f0;
  display: inline-block;
  width: 40px;
  vertical-align: top;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px; }
  .post-vote .fa,
  .post-vote .popularity {
    display: block;
    padding: 6px 10px;
    text-align: center;
    font-weight: 600; }
  .post-vote .fa {
    color: #e3472f;
    padding: 12px 10px; }
  .post-vote .popularity {
    border-top: 1px solid #f0f0f0;
    font-size: 18px;
    padding: 6px 10px; }

.post-content {
  display: inline-block; }

@media only screen and (min-width: 767px) {
  .post-article {
    margin-left: 20px; } }

.post-site {
  color: #a2a2a2;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase; }

.post-title {
  margin: 5px 0 10px 0; }
  @media only screen and (max-width: 767px) {
    .post-title {
      font-size: 20px; } }

.post-details {
  margin: 0;
  padding: 0; }
  .post-details .item.first {
    border-right: 1px solid #f0f0f0;
    padding: 0 15px 0 0; }
  .post-details .post-category {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px; }
    .post-details .post-category.design {
      background: #00e2ad; }
    .post-details .post-category.ui-ux {
      background: #00bbff; }
    .post-details .post-category.opinion {
      background: #4271d6; }
    .post-details .post-category.case-study {
      background: #f4973c; }
  .post-details .photo-thumb {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle; }
    .post-details .photo-thumb .photo {
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px; }
  .post-details .link,
  .post-details .comments {
    color: #e3472f;
    font-weight: 600; }
  .post-details .link {
    border-bottom: 2px solid #e3472f; }
  .post-details .time {
    color: #a2a2a2; }

.btn-load-more {
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  color: #e3472f;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 15px 0;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px; }

/* 4.0 - Footer */
.footer {
  margin: 20px 0; }

.logo-footer {
  margin-right: 20px; }

.logo-footer,
.company {
  display: inline-block;
  vertical-align: middle; }

.company-name,
.footer-links {
  margin-bottom: 2px; }

.company-text {
  color: #a2a2a2; }

.company-text,
.copyright-text {
  font-size: 12px;
  margin-bottom: 0; }

@media only screen and (max-width: 767px) {
  .footer-text {
    margin-top: 20px; } }

@media only screen and (min-width: 768px) {
  .footer-text {
    text-align: right; } }

.footer-links {
  padding: 0; }
  .footer-links .social-media {
    color: #000; }
    .footer-links .social-media.facebook .fa, .footer-links .social-media.twitter .fa {
      color: #fff;
      display: inline-block;
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      width: 16px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px; }
    .footer-links .social-media.facebook .fa {
      background: #3d599b; }
    .footer-links .social-media.twitter .fa {
      background: #00abee; }
  .footer-links .link {
    color: #e3472f;
    font-weight: 600; }

.copyright-text {
  color: #cdcdcd; }
