<% include templates/header %>
		<div class="container">
			<% 
				for ( var item in linksObj ) {
					var links = linksObj[item];
					var count = 2;
					for ( var key in links ) { %>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="post-row">
									<span class="post-vote hidden-xs">
										<i class="fa fa-chevron-up"></i>
										<span class="popularity"><%= links[key].upvotes %></span>
									</span>
									<div class="post-content">
										<article class="post-article">
											<p class="post-site"><%= links[key].meta.url %></p>
											<h3 class="post-title"><%= links[key].meta.title %></h3>
											<ul class="post-details">
												<li class="item first hidden-xs">
													<%	
														var category = '',
															classCategory = '';

														switch ( links[key].category ) {
															case 'ux_ui' :
																category = 'UX Theory';
																classCategory = 'ui-ux';
																break;
															case 'case_study' :
																category = 'Case Study';
																classCategory = 'case-study';
																break;
															case 'product_design' :
																category = 'Product Design';
																classCategory = 'design';
																break;
															case 'discussion' :
																category = 'Opinion';
																classCategory = 'opinion';
																break;
															default :
																break;
														}
													%>
													<span class="post-category <%= classCategory %>"><%= category %></span>
												</li>
												<li class="item">
													<figure class="photo-thumb">
														<img src="img/user-<%= count %>.jpg" class="img-responsive photo" alt="">
													</figure>
													<a href="#" class="link"><%= links[key].meta.author %></a>
												</li>												
												<%
													if ( links[key].created_at ) {
														var timestamp = new Date(links[key].created_at * 1000); 
															date = timestamp.getDate();
															month = timestamp.getMonth() + 1;
															year = timestamp.getFullYear();

														if ( date < 10 ) {
															date = '0' + date;
														}

														if (month < 10) {
															month = '0' + month;
														}

														var dateFormat = year + '-' + month + '-' + date;

														%>
														<li class="item hidden-xs">
															<span class="time"><%= dateFormat %></span>
														</li>
													<% }
												%>
												<li class="item hidden-xs <%= (links[key].created_at ? 'pointer' : '') %>">
													<span class="comments">
														<i class="fa fa-comment"></i> <a href="#" class="link"><%= links[key].comments %> Comment<%= (links[key].comments > 1 ? 's' : '') %></a>
													</span>
												</li>
												<li class="item hidden-xs">
													<a href="#" class="link">Edit</a>
												</li>
											</ul>
										</article>
									</div>
								</div>
							</div>
						</div>			
						<% 
						count++;

						if ( count > 4 ) {
							count = 2;
						} 
					}
				} 
			%>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<button class="btn-load-more">
						<i class="fa fa-refresh"></i> Load more
					</button>
				</div>
			</div>
		</div>
<% include templates/footer %>