<% include templates/header %>
		<div class="container">
			<% if ( linksObj.length > 0 ) { %>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="alert alert-success" role="alert">
							<%
								var results = linksObj.length,
									links = false;
								if ( results > 1 ) {
									links = true;
								}
							%>
							<%= results %> <%= (links ? 'resultados encontrados' : 'resultado encontrado') %> para <strong><%= keywords.search %></strong>.
						</div>
					</div>
				</div>
				<% for ( var i = 0; i < linksObj.length; i++ ) { %>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="post-row">
								<span class="post-vote hidden-xs">
									<i class="fa fa-chevron-up"></i>
									<span class="popularity"><%= linksObj[i].upvotes %></span>
								</span>
								<div class="post-content">
									<article class="post-article">
										<p class="post-site"><%= linksObj[i].meta.url %></p>
										<h3 class="post-title"><%= linksObj[i].meta.title %></h3>
										<ul class="post-details">
											<li class="item first hidden-xs">
												<%	
													var category = '',
														classCategory = '';

													switch ( linksObj[i].category ) {
														case 'ux_ui' :
															category = 'UX Theory';
															classCategory = 'ui-ux';
															break;
														case 'case_study' :
															category = 'Case Study';
															classCategory = 'case-study';
															break;
														case 'product_design' :
															category = 'Product Design';
															classCategory = 'design';
															break;
														case 'discussion' :
															category = 'Opinion';
															classCategory = 'opinion';
															break;
														default :
															break;
													}
												%>
												<span class="post-category <%= classCategory %>"><%= category %></span>
											</li>
											<li class="item">
												<figure class="photo-thumb">
													<img src="img/user-2.jpg" class="img-responsive photo" alt="">
												</figure>
												<a href="#" class="link"><%= linksObj[i].meta.author %></a>
											</li>												
											<%
												if ( linksObj[i].created_at ) {
													var timestamp = new Date(linksObj[i].created_at * 1000); 
														date = timestamp.getDate();
														month = timestamp.getMonth() + 1;
														year = timestamp.getFullYear();

													if ( date < 10 ) {
														date = '0' + date;
													}

													if (month < 10) {
														month = '0' + month;
													}

													var dateFormat = year + '-' + month + '-' + date;

													%>
													<li class="item hidden-xs">
														<span class="time"><%= dateFormat %></span>
													</li>
												<% }
											%>
											<li class="item hidden-xs <%= (linksObj[i].created_at ? 'pointer' : '') %>">
												<span class="comments">
													<i class="fa fa-comment"></i> <a href="#" class="link"><%= linksObj[i].comments %> Comment<%= (linksObj[i].comments > 1 ? 's' : '') %></a>
												</span>
											</li>
											<li class="item hidden-xs">
												<a href="#" class="link">Edit</a>
											</li>
										</ul>
									</article>
								</div>
							</div>
						</div>
					</div>
				<% }
			} else { %>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="alert alert-danger" role="alert">
							Nenhum resultado encontrado para <strong><%= keywords.search %></strong>.
						</div>
					</div>
				</div>
			<% } %>	
		</div>
<% include templates/footer %>